input[type="range"] {
  -webkit-appearance: none;
  background: gray;
  height: 1px;
  width: 80%;
  /* max-width: 500px; */
  outline: none;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-image: url('https://static-00.iconduck.com/assets.00/cursor-grab-icon-502x512-ay036dhd.png');
  /* Replace with your image URL */
  background-size: cover;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-image: url('https://static-00.iconduck.com/assets.00/cursor-grab-icon-502x512-ay036dhd.png');
  /* Replace with your image URL */
  background-size: cover;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 30px;
  height: 30px;
  background-image: url('https://static-00.iconduck.com/assets.00/cursor-grab-icon-502x512-ay036dhd.png');
  /* Replace with your image URL */
  background-size: cover;
  cursor: pointer;
}